
<ul>
  {{#each model as |vault|}}
    <li>
      {{#link-to "vaults.view" vault.id}}{{vault.name}} ({{vault.environment}}){{/link-to}}
    </li>
  {{/each}}
</ul>
{{#link-to "vaults.analytics"}}Summary analytics{{/link-to}}
{{outlet}}